.blog-card{
    background-color: rgb(243, 226, 194);
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    color: black;
    margin: 10px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid rgba(0,0,0,0.1);
}
.blog-card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
.blog-title{
   font-size: 25px;
   margin-top: 10px;
   text-align: center;
}
.blog-content-preview{
    font-size: 20px;
    margin-top: 5px;


}
.author-avatar{
   
    height: 250px;
    width: 280px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;

   
}
.author-name{
    font-size: 20px;
    margin-top: 10px;

}
.Author-card{
    display: flex;
    align-items: center;
    margin: 10px 5px;

}
.blog-date{
     font-size: 16px;
     font-style: italic;
    margin-left: 30px;
}
.author-price{
    font-size: 20px;
}
