.selected-blog{
    background-color: rgb(243, 226, 194);
    padding: 20px;
    width: 600px;
    height: auto;
    border-radius:20px ;
    font-size: 20px;
   margin-left: 30%;
   margin-top: 30px;
   box-shadow: 0 0 20px rgba(0,0,0,0.1);
   border: 2px solid rgba(0,0,0,0.1);
  text-align: justify;
}
.selected-blog:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

.author-title{
    font-size: 30px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}
.author-avatar{
   margin-left: 60px;
   border-radius: 20px;
   
}
